<!DOCTYPE html>
<html>
  <head>
    <title>Translation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <p>Enter text to translate: </p>
    <form method="post" action="/">
    	<input type="textarea" name="text" id="text">
    	<input type="submit" name="submit">
    </form>
  </body>
</html>
